<div class="container mt-5" style="width: 60%;">
  <div class="card">
    <h5 class="card-header">Joke Details</h5>
    <div class="card-body">
      <h5 class="card-title">Id : {{joke.id}}</h5>
      <p class="card-text"><b>Joke:</b> {{joke.value}}</p>
      <a routerLink="/jokes" class="btn btn-primary" >Back to jokes</a>
    </div>
  </div>

</div>



<!-- <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Joke</th>
          <th>category</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{joke.id}}</td>
          <td>{{joke.value}}</td>
          <td>{{joke.category}}</td>
        </tr>
      </tbody>
    </table>
  
    <button type="submit" class="btn btn-primary" (click)="goBackToList()">Go Back</button>
  </div> -->


